# Visual Studio Code
.vscode/**
*.code-workspace
.venv

# Local History for Visual Studio Code
.history/

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp

#project specific
/source/build

